<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Editar articulo</h2>
		</div>
		<div class="col-md-6">
			<%= link_to "<i class='fas fa-arrow-left'></i> Atrás".html_safe, admin_articles_path, class: "btn btn-raised btn-secondary btn-sm float-right " %>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<%= simple_form_for @article, url: admin_article_path(@article), method: :put do |f| %>
				<%= render partial: "admin/articles/partials/form", locals: { f: f } %>
				<%= link_to "<i class='fas fa-arrow-left'></i> Cancelar".html_safe, admin_articles_path, class: "btn btn-raised btn-secondary " %>
				<%= f.button :submit, "Actualizar", class: "btn btn-raised btn-success"%>
			<% end %>
		</div>
	</div>
</div>