<div class="container">
	<h2>Lista de articulos</h2>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
			  <div class="card-header">
			    <%= link_to "<i class='fas fa-plus'></i> Agregar".html_safe, new_admin_article_path, class: "btn btn-raised btn-primary btn-sm float-right ", data: { turbolinks: "false" } %>
			    Secciones registradas (<%= @articles.size %>)
			    <button type="button" title="Abrir para filtrar" class="btn btn-info bmd-btn-icon" data-toggle="collapse" data-target="#filter_collapse">
					  <i class="material-icons">more_vert</i>
					</button>
			    <br>
			    <%= render partial: "admin/articles/partials/form_filter" %>
			  </div>
			  <div class="card-body">
					<% if @articles.size > 0 %>
					<div class="table-responsive">
						<table class="table table-sm table-hover">
						  <thead>
						    <tr>
						      <th>Nombre</th>
						      <th>Titulo</th>
						      <th>Sección</th>
						      <th>Guia</th>
						      <th></th>
						    </tr>
						  </thead>
						  <tbody>
						  	<% @articles.each do |article| %>
									<tr>
										<td><%= article.name %></td>
										<td><%= article.title %></td>
										<td><%= article.section.name %></td>
										<td><%= article.section.guide.name %></td>
										<td>
											<div class="btn-group" role="group">
											<%= link_to "<i class='fas fa-bars'></i> Ver articulo".html_safe, admin_article_path(article), class: "btn btn-info btn-sm"%><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_admin_article_path(article), class: "btn btn-warning btn-sm", data: { turbolinks: "false" }%><%= link_to "<i class='fas fa-trash'></i>".html_safe, admin_article_path(article), method: :delete, data: {:confirm => "¿Esta seguro de eliminar?" } , class: "btn btn-danger btn-sm"%>
											</div>
										</td>
									</tr>
						  	<% end %>
						  </tbody>
						</table>
					</div>
					<%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
					<% else %>
						<div class="alert alert-warning text-center" role="alert">
						  <i class="fas fa-exclamation-circle"></i> No existe ningún registro.
						</div>
					<% end %>
			  </div>
			</div>
		</div>
	</div>
</div>