<!-- Modal -->
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <%= simple_form_for @guide, url: admin_guide_path(@guide), method: :put do |f| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar tema</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= f.input :name, label: "Nombre", input_html: { class: 'form-control', required: true } %>
        </div>
        <div class="form-group">
          <%= f.input :image, label: "Imagen", input_html: { class: 'form-control-file', required: true } %>
        </div>
        <div class="form-group">
          <%= f.input :order, label: "Orden", input_html: { class: 'form-control', required: true } %>
        </div>
        <div class="form-group">
          <%= f.input :category_id, collection: Category.all, label: "Categoria", input_html: { class: 'form-control', required: true } %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <%= f.button :submit, "Actualizar", class: "btn btn-raised btn-success" %>
      </div>
    </div>
  </div>
        <% end %>
</div>